<% include('../layouts/header.ejs') %>

<img src="userImages/<%= user.image %>"   width = "100px" height="100px" alt="">
<br>
<form action="" method="post" enctype="multipart/form-data">
<br>

<input type="file" name="image">
 <br><br>
<input type="hidden" name="user_id" value="<%= user._id%>">

<input type="text" name="name" value="<%= user.name %>" placeholder="Enter Name" required>
<br><br>

<input type="email" name="email" value="<%= user.email %>" placeholder="Enter Email" required>
<br><br>

<input type="text" name="mbo" value="<%= user.mobile %>" placeholder="Enter mobile" required>

<br><br>


<input type="submit" value="Update Profile">


</form>




<% include('../layouts/footer.ejs') %>